/* FUENTES */
@font-face {
  font-family: nevis;
  src:  url("../fonts/nevis.eot");
  src:  url("../fonts/nevis.eot?iefix") format("embedded-opentype"),
        url("../fonts/nevis.woff") format("woff"),
        url("../fonts/nevis.ttf") format("truetype"),
        url("../fonts/nevis.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}


/* GENERAL STYLES */
* {
  margin: 0px;
  padding: 0px;
}

.red {
  color: #9b2422 !important;
}
.blue {
  color: #0c73f2 !important;
}

a {
  color: #529125;
  text-decoration: none;
}
a:hover {
  color: #285616;
  text-decoration: none;
}
a:visited {
  color: #529125;
  text-decoration: none;
}

/*forms*/
input[type="text"],
input[type="email"],
input[type="password"],
select {
  border: 1px solid #c9c9c9;
  box-shadow: 0px 0px 2px #cccccc inset;
  background-color: white;
  padding: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: gray;
  transition: all 300ms;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  border: 1px solid #70b231;
  color: black;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  display: block;
  border-radius: 2px;
  border: 1px solid green;
  width: 60px;
  padding: 3px;
  background-color: #70b231;
  color: white;
  cursor: pointer;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
  box-shadow: 0px 0px 2px gray;
}
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
button:active {
  box-shadow: 0px 0px 3px gray inset;
  text-shadow: 0px 0px 1px #cccccc;
}




body {
  background-image: url("../img/paven.png");
}

#hero {
  min-width: 1200px;
  width: 100%;
  height: 250px;
  margin: 0px auto;
}

#hero a {
  text-decoration: none;
}

#hero #logo-hero {
  width: 770px;
  margin: 0px auto;
  padding-top: 20px;
}

#hero #logo-hero img {
  display: block;
  text-align: center;
  margin: 0px auto;
  width: 140px;
}

#hero h1 {
  text-align: center;
  font-size: 40px;
  color: #70b231;
  font-family: "nevis";
  margin-top: 10px;
  text-shadow: 0px 2px 1px #333333;
  transition: all 300ms;
}

#hero h1:hover {
  text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b231;
}

#hero h1 a {
  color: #70b231;
  text-transform: uppercase;
  letter-spacing: 4px;
}
/*nav*/
#nav {
  width: 100%;
  background-color: #333333;
  color: white;
  height: 40px;
  font-family: sans-serif, Helvetica, Arial;
  font-size: 14px;
  box-shadow: 0px 0px 2px grey;
}
#nav ul {
  list-style: none;
  text-decoration: none;
  margin: 0px auto;
  width: 1090px;
}
#nav > ul > li {
  line-height: 40px;
  float: left;
  border-right: 1px solid gray;
  transition: all 500ms;
} 

#nav > ul > li a {
  display: block;
  padding-right: 20px;
  padding-left: 20px;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
#nav > ul > li > a:first-child {
  border-left: 1px solid gray;
}
#nav > ul > li:hover {
  background-color: #70b231;
  box-shadow: 0px 0px 4px green inset;
}

/*Menu desplegable*/
#nav > ul > li > ul {
  display: none;
  position: absolute;
  color: white;
  text-align: left;
  width: 160px;
  box-shadow: 0px 0px 2px gray;
  z-index: 1;
}
#nav > ul > li:hover > ul {
  display: block;
}   
#nav > ul > li:hover > ul > li {
  background-color: #f2f1f0;
  border-bottom: 1px solid #d6d6d6;
  padding: 8px;
  line-height: 25px;
  transition: all 500ms;
}
#nav > ul > li:hover > ul > li:hover {
  box-shadow: 0px 0px 2px gray inset;
} 
#nav > ul > li:hover > ul > li a {
  color: #666666;
}
/*content*/
#content {
  width: 1250px;
  min-width: 1100px;
  margin: 0px auto;
}
/*content*/

/*aside*/
#aside, #phrase-day {
  clear: both;
  width: 200px;
  float: left; 
  margin: 30px;
  background-color: white;
  border: 1px solid #cccccc;
  box-shadow: 0px 2px 2px #cccccc;
  font-family: sans-serif, Arial, Helvetica;
}
#phrase-day {
  width: 180px;
  padding: 10px;
  font-size: 14px;
  font-family: sans-serif;
}
#aside .widget {
  display: block;
  width: 180px;
  margin: 5px auto;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  border-bottom: 1px dashed #333333;
}
#aside .widget:last-child {
  margin-bottom: 20px;
}
#aside h3{
  display: block;
  width: 100%;
  color: #333333;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #f2f3f2;
  border: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  margin-bottom: 15px;
}
/*forms aside*/
#aside div label,
#aside div input[type=text],
#aside div input[type=password],
#aside div input[type=email],
#aside div a {
  display: block;
  width: 95%;
  margin-top: 2px;
  margin-bottom: 2px;
}
#aside div input[type=button],
#aside div input[type=submit],
#aside div button {
  margin-top: 5px;
  margin-bottom: 10px;
}
#aside div input,
#aside div label {
  margin: 0px auto;
  text-align: center;
}

/*forms aside*/

#aside li {
  margin-top: 8px;
  margin-bottom: 5px;
  margin-left: 20px;
  list-style: square;
}


/*aside*/

